* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(50deg, #3192e7e9, #12e6f1ee);
  font-family: sans-serif;
}

.calculator {
  background: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
}

#input {
  width: 100%;
  height: 55px;
  font-size: 25px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #f1eaea;
  border-radius: 10px;
  box-shadow: inset 1px 1.2px 7px rgba(0, 0, 0, 0.7);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
  justify-content: center;
}

.btn {
  height: 50px;
  font-size: 22px;
  border: none;
  background-color: #efe8e8;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2 ease;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
}

.btn:hover {
  background-color: #d3cece;
}

.equal {
  grid-column: span 2;
}

.equal:hover {
  background-color: #35c4ec;
}
